// ================================
//          ALL VARIABLES
// ================================

//------COLORS------
$white: #fff;

$main-color: #58e1c1;
$main-font: #777;

$flat-purple-bg: #927bc1;
$fire-orange-bg: #fd7856;
$fire-red-bg: #e4757a;
$sea-green-bg: #63cc82;
$aqua-blue-bg: #51ddfc;

//-------COMMON PADDING/MARGIN VALUES------
$base-pad: 10px;
$quote-pad: 20px;

//------NAV TRANSITION------
$nav-trans: .2s ease-in-out;

//------MQ BREAKPOINTS------
$break: 768px;